serial_communication/web/routes/.env
serial_communication/web/.env
serial_communication/web/routes/.serial_handler.py.swp
serial_communication/web/routes/env_tester.py.temp
serial_communication/.env
serial_communication/web/routes/__pycache__/routes.cpython-310.pyc
serial_communication/web/routes/__pycache__/serial_handler.cpython-310.pyc
serial_communication/web/__pycache__/app.cpython-310.pyc
serial_communication/web/__pycache__/gunicorn_config.cpython-310.pyc
serial_communication/web/ngrok_logger.txt
serial_communication/web/exception_logs.txt
serial_communication/web/logs.txt.txt
serial_communication/web/routes/__pycache__/uptime_checker.cpython-310.pyc

