serial_communication/web/routes/.env
serial_communication/web/.env
serial_communication/web/routes/.serial_handler.py.swp
serial_communication/web/routes/env_tester.py.temp
serial_communication/.env
serial_communication/web/exception_logs.txt
serial_communication/web/logs.txt.txt
serial_communication/web/routes/exception_logs.txt
*.pyc
*logger.txt
/logs